{% extends 'layout/base.html' %}

{% block title %}Student Details{% endblock %}

{% block body %}
<h1 class="m-5 mx-auto neuEffectNonHover" style="max-width:25%">Student Details</h1>

<div class="container">
    <div class="row justify-content-center neuEffect" id="card">

    </div>
</div>

<script>
    $('#home').removeClass('active')
    $('#students').addClass('active')

    var x = document.cookie
                .split(';')
                .map(cookie => cookie.split('='))
                .reduce((accumulator, [key, value]) => ({ ...accumulator, [key.trim()]: decodeURIComponent(value) }), {});

    var path = window.location.pathname.split('/')
    var url = "/students/student_details_api/"+path[3]+"/"
    $.ajax({
        type: "GET",
        url: url,
        headers: {Authorization : 'Bearer ' + x.token },
        data: "",
        success: function(data){
            //alert(data.img)
            $('#card').append(`
                <div class="col m-5">
                    <img src="${data.img}" alt="${data.full_name}" class="rounded-circle mt-2" height="350" width="350"/>
                </div>
                <div class="col m-5 neuEffectNonHover">
                    <div class="row mt-5"><h4>Name : ${data.full_name}</h4></div>
                    <div class="row"><h4>Father's name : ${data.fathers_name}</h4></div>
                    <div class="row"><h4>Mother's Name : ${data.mothers_name}</h4></div>
                    <div class="row"><h4>Gender : ${data.gender}</h4></div>
                    <div class="row"><h4>Religion : ${data.religion}</h4></div>
                    <div class="row"><h4>DOB : ${data.birth_date}</h4></div>
                    <div class="row"><h4>Email : ${data.email}</h4></div>
                    <div class="row"><h4>Phone : ${data.phone}</h4></div>
                    <div class="row"><h4>Address : ${data.address}</h4></div>
                    <div class="row"><h4>blood-group : ${data.blood_group}</h4></div>
                </div>
            `)
        },
        error: function(data){
            console.log("Error Checking")
            console.log(data)
            if(data.status == 401 | data.status == 403){
                $('#card').html(`
                    <h1>Please Sign In from a Teacher account to view Student Info</h1>
                    <a id="signIn" onclick="lastUrlGet()" class="btn neuEffect btn-lg mx-auto" style="max-width: 15%;" href="/sign_in/" >Sign In</a>
                `)
            }
            else{
                $('#card').html(`
                    <h1>Sorry for inconvenience!</h1>
                    <h2>Something went wrong!</h2>
                    <h3>Working on this</h3>
                `)
            }
            $('#card').removeClass('neuEffect')
        }
    });
</script>
{% endblock %}