{% extends 'layout/base.html' %}
{% block title %} Student Sign Up {% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <div id="main_input">
        <form enctype="multipart/form-data" id="form_sign_up" method="POST" action="#">
            {% csrf_token %}
            <div class="row mx-auto" style="max-width: 100%px;">
                <label for="account_type"><h3>Sign Up as</h3></label>
                <strong>
                    <select class="neuEffect" id="account_type" name="account_type" style="height: 30px; width: 100px; text-align: center; font-size: 18px;" required>
                        <option disabled selected value></option>
                        <option name="Student" value="Student">Student</option>
                        <option name="Teacher" value="Teacher">Teacher</option>
                    </select>
                </strong>
            </div>
            <label for="full_name">Full name:</label><br>
            <input required type="text" id="full_name" name="full_name" placeholder="Full Name"><br>
            <label for="email">Email:</label><br>
            <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" title="Please enter a valid email." type="text" id="email" name="email" placeholder="Email"><br>
            <label for="phone">Phone Number:</label><br>
            <input required pattern="^01[13-9]\d{8}$" title ="Please enter a valid phone number." type="text" id="phone" name="phone" placeholder="Phone Number"><br>
            <label  for="password">Password:</label><br>
            <input required title ="Please enter a valid password." type="password" id="password" name="password" value="" placeholder="Password"><br>
            <label  for="profile_pic">Image:</label><br>
            <input type="file" pattern="/\.(gif|jpe?g|tiff?|png|webp|bmp)$/i" required accept="image/png, image/gif, image/jpeg" id="profile_pic" name="profile_pic"  placeholder="Image"><br>
            <p id="error"></p>
            <br>
{#            <input type="submit" value="Create Account" id="sign_up_submit">#}
            <div><button type="submit">Sign Up</button></div>
        </form>
    </div>
    <div id="main_otp">
        <p id="error"></p>
        <label for="otp">OTP:</label><br>
        <input type="text" id="otp" name="otp" value="" placeholder="Please provide a OTP"><br>
        <input type="button" value="Active Account" id="otp_submit">
    </div>
<script>
    $('#sign_up').addClass('active')
    $('#main_otp').hide()
    {#$("#sign_up_submit").click(function (){#}
    $("#form_sign_up").submit(function (event){
        event.preventDefault()
        var data_str= new FormData(document.getElementById('form_sign_up'))
        var image = document.forms["form_sign_up"]["profile_pic"].value;
        console.log(image)
        image=image.split('.')
        if(image[(image.length)-1]==='jpg'){
          $.ajax({
          type:"POST",
          headers: { "X-CSRFToken": '{{csrf_token}}' },
          enctype:'multipart/form-data',
          processData:false,
          async:false,
          cache:false,
          contentType:false,
          url: "http://127.0.0.1:8000/sign_up/sign_up_api/",
          data:data_str,
          success: function(value){
              console.log(value)
            if(value.status===200){
                localStorage.setItem('email',value.email)
                $('#main_input').hide()
                $('#main_otp').show()
            }
          },
          error: function(errormsg){
            console.log(errormsg)
          }
        });
        }else {
            $("#error").html("Please provide a valid image.")
        }

    })

    $("#otp_submit").click(function (){
        console.log(1233)
        var data={}
        data['email']=localStorage.getItem('email')
        data['otp']=$("#otp").val()
        $.ajax({
          type:"PUT",
          url: "http://127.0.0.1:8000/student/student_otp_check_api/",
          data:JSON.stringify(data),
          success: function(data){
              console.log(data)
            if(data.Status==200){
                $('#main_otp').html("Success")
            }else{
                $('#error').html(data.message)
            }
          },
          error: function(errormsg) {
              $('#error').html(errormsg.message)
          }
        });
    })



</script>
{% endblock %}