<br>
<div class="neuEffectNonHover justify-content-center">
    <div style="">
        <hr style="color: #595959; border: 20px solid #595959">
        <div class="row" style="max-width: 100%;">
            <div class="col" id="address">
                <span id="street"></span>
                <br>
                <span id="city-zip"></span>
                <br>
                <span id="country"></span>
            </div>
            <div class="col">
                <div class="contact">
                    <span id="footer-phone"></span>
                    <br>
                    <span id="footer-email"></span>
                </div>
                <br>
                <div class="follow">
                    <span class="facebook-info"><a id="facebook-url" href="https://facebook.com/ahasanular/" class="fa fa-facebook btn btn-lg neuEffect" target="_blank"></a></span>
                    <span class="linkedin-info"><a id="linkedin-url" href="https://linkedin.com/in/md-ahasanul-arafath/" class="fa fa-linkedin btn btn-lg neuEffect" target="_blank"></a></span>
                    <span class="instagram-info"><a id="instagram-url" href="https://instagram.com/ahasanul_ar/" class="fa fa-instagram btn btn-lg neuEffect" target="_blank"></a></span>
                </div>
            </div>
            <div class="col">
                <br><br>
                <button onclick="goToTop()" class="neuEffect btn btn-lg rounded-circle me-2">Top &#8593</button>
            </div>
        </div>
        <hr style="color: #737373">
        <div class="row" style="max-width: 100%">
            <span><strong>Copyright &#169 <span id="copyright_info"></span>, All Right Reserved</strong></span>
        </div>
        <hr style="color: #737373">
    </div>
</div>

<script>
    function goToTop() {
        //document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

$.ajax({
    try: "GET",
    url: "/footer_info_api/",
    data: "",
    success: function(data){
        //console.log(data)
        $('#street').html(data.addr_street);
        $('#city-zip').html(data.addr_city + " - " + data.addr_zip);
        $('#country').html(data.addr_country);
        $('#footer-phone').html(data.follow_phone);
        $('#footer-email').html(data.follow_email);
        $('#copyright_info').html(data.copyright_year + " " + data.copyright_name);
        $('#facebook-url').attr('href', data.follow_facebook)
        $('#linkedin-url').attr('href', data.follow_linkedin)
        $('#instagram-url').attr('href', data.follow_instagram)
    },
    error: function(errormsg){
        console.log(errormsg)
    }
});
</script>