{% load static %}

<div id="topnav" class="mt-5 topnav row mx-auto" style="max-width: 100%;">

    <div style="text-align: left;" class="col my-auto">
        <a id="logo" class="m-3 btn btn-lg" href="/" onmouseover="this.style.backgroundColor='#c3c7cb';" onmouseout="this.style.backgroundColor='#e0e5eb';" ><img src="{% static 'images/favicon.png' %}" class="rounded-circle" height="25" width="25"><strong> School Management</strong></a>
    </div>
    <div style="text-align: center;" class="col col-md-auto m-3 my-auto">
        <a id="home" class="m-3 btn neuEffect btn-lg active" href="/">Home</a>
        <a id="students" class="m-3 btn neuEffect btn-lg" href="/students/student_list/">Students</a>
        <a id="teachers" class="m-3 btn neuEffect btn-lg" href="/teachers/teacher_list/">Teachers</a>
        <a id="facilities" class="m-3 btn neuEffect btn-lg" href="/facilities/">Facilities</a>
        <a id="posts" class="m-3 btn neuEffect btn-lg" href="/posts/">Posts</a>
    </div>
    <div style="text-align: right" class="col my-auto">
        <a id="nameAndDp" style="" class="me-5 btn btn-lg" href="/sign_in/my_account/" onmouseout="this.style.backgroundColor='#e0e5eb'; this.style.color='black'" onmouseover="this.style.backgroundColor='#208293'; this.style.color='white'"></a>
        <a id="signOut" class="me-3 btn btn-lg" href="/sign_in/log_out/" style="font-size:26px; background-color: #e0e5eb; color: tomato;" onmouseover="this.style.backgroundColor='tomato'; this.style.color='white'" onmouseout="this.style.backgroundColor='#e0e5eb'; this.style.color='tomato'"><strong>Log out</strong></a>

        <a id="student_signUp" class="signUp me-3 btn neuEffect btn-lg" href="/sign_up/" target="_blank">Sign Up</a>
        <a id="signIn" class="me-3 btn neuEffect btn-lg" onclick="lastUrlGet()" href="/sign_in/" >Sign In</a>
    </div>
</div>
